.layout {
  width: 1000px;
  margin: 0 auto;
  font-size: 24px;
}

.header {
  background-color: aquamarine;
  height: 80px;
}

.main {
  display: flex;
}

.main-left {
  background-color: cornflowerblue;
  width: 200px;
  height: 600px;
}

.main-right {
  background-color: coral;
  width: 800px;
  height: 600px;
}

.footer {
  background-color: lightgreen;
  height: 120px;
}
