@charset "utf-8";

.wrapper {
  width: 80%;
  margin: 80px auto;
}

.join-txt {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

/* 텍스트 컬러 */
.txt-red {
  color: red;
}
.txt-green {
  color: green;
}
